<body>
	<div id="root"></div>
	<script type="module">
		const rootElement = document.getElementById("root");
		// Tạo 1 thẻ div
		// Set nội dung của thẻ div là "Make FE Great Again"
		// Và thẻ div có className là "container"
		// Hiển thị thẻ div trong thẻ div có id là "root"
	</script>
</body>
