<body>
	<div id="root"></div>

	<!-- Thêm React và ReactDom vào trong page
    <script src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>
    -->

	<script type="module">
		const rootElement = document.getElementById("root");
		// Sử dụng React.createElement để tạo React Element
		const element = document.createElement("div");
		element.textContent = "Make FE Great Again"; // Trong React, set nội dụng của Element bằng thuộc tính "children"
		element.className = "container"; // 💰 Trong React cũng được gọi là "className"
		// Giống như ReactDOM.render
		rootElement.append(element);

		// Chuyển đoạn code bên trên bằng cách sử dụng React API
	</script>
</body>
