<body>
	<div id="root"></div>
	<script src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>

	<script type="module">
		// 🐧 Chuyển sang JSX
		const element = React.createElement("div", {
			className: "container",
			children: "Make FE Great Again",
		});

		ReactDOM.render(element, document.getElementById("root"));
	</script>
</body>
