<body>
	<div id="root"></div>
	<script src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/@babel/standalone@7.12.4/babel.js"></script>
	<style type="text/css"></style>
	<script type="text/babel">
		const smallBox = <div>small lightblue box</div>;
		const mediumBox = <div>medium pink box</div>;
		const largeBox = <div>large orange box</div>;

		const App = (
			<div>
				{smallBox}
				{mediumBox}
				{largeBox}
			</div>
		);
		ReactDOM.render(App, document.getElementById("root"));
	</script>
</body>
