<body>
	<div id="root"></div>
	<script src="https://unpkg.com/react@17.0.0/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@17.0.0/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/@babel/standalone@7.12.4/babel.js"></script>
	<script type="text/babel">
		function UsernameForm({ onSubmitUsername }) {
			return (
				<form>
					<div>
						<label>Username:</label>
						<input type="text" />
					</div>
					<button type="submit">Submit</button>
				</form>
			);
		}

		function App() {
			const onSubmitUsername = (username) =>
				alert(`You entered: ${username}`);
			return <UsernameForm onSubmitUsername={onSubmitUsername} />;
		}
		ReactDOM.render(App(), document.getElementById("root"));
	</script>
</body>
